body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a{
    color: #f4f4f4;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

main {
    margin: 20px 0;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
}

.diary-entry {
    border-bottom: 1px dashed #ccc;
    padding: 10px 0;
}

.diary-entry strong {
    display: block;
    font-size: 0.9em;
    color: #666;
}

.other-diary-entry {
    background-color: #f9f9f9; /* Different background for other diaries */
    margin-bottom: 10px;
    padding: 10px;
    border-left: 4px solid #4CAF50; /* A left border for visual distinction */
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #4ca;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}